#home{
    background-image: url(https://github.com/tylermcleant/homework2/blob/master/Assets/images/home-bg-2.jpg?raw=true);
    background-size: cover;
    height: 100vh;
}

.beg{
    color: darkblue;
}

