#home{
    background-image: url(https://github.com/tylermcleant/homework2/blob/master/Assets/images/home-bg-2.jpg?raw=true);
    background-size: cover;
    height: 100vh;
}

.beg{
    color: darkblue;
    padding: 20px;
    border: black;
    border-color: black;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    background-color: rgba(255, 255, 255, 0.36);
}


